.container-fluid .sidebar-subjects {
    width: 280px;
    height: 100%;
    /* background-color: #FAFAFC; */
    background-color: #F2F3FF;
    position: fixed;
    left: 0;
    top: 0;
    color: black;
    margin-top: 87px;
    padding: 3rem 2.5rem 3rem 2.5rem;
}

.container-fluid .sidebar-subjects h2 {
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Titan", sans-serif;
}

.container-fluid .sidebar-subjects .subjects-catalog {
    margin-top: 0.5rem;
}

.container-fluid .sidebar-subjects .subjects-catalog ul{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* padding: 0; */
    margin-top: 1rem;
}

.container-fluid .sidebar-subjects .subjects-catalog ul li span{
    font-size: 15px;
}

.container-fluid .rightbar {
    /* width: 100%; */
    width: calc(100% - 280px);
    margin-left: 280px;
    /* width: calc(100% - 250px); */
    height: calc(100% - 87px);
    margin-top: 87px;
    /* margin-left: 250px; */
    padding: 3rem;
    /* background-color: #EFF3F6; */
    /* background-color: #FAFAFC; */
    background-color: #F2F3FF;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-fluid .rightbar h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.container-fluid .rightbar .card-box-parent {
    /* margin-top: 2rem; */
}

.container-fluid .rightbar .card-box-parent .card-box {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.container-fluid .rightbar .card-box-parent:nth-child(1) .card-box .card-box-picture {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../images/philosophy_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0rem;
}

.container-fluid .rightbar .card-box-parent:nth-child(2) .card-box .card-box-picture {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../images/ucsp_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid .rightbar .card-box-parent:nth-child(3) .card-box .card-box-picture {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../images/computer_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid .rightbar .card-box-parent:nth-child(4) .card-box .card-box-picture {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../images/pe_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid .rightbar .card-box-parent:nth-child(5) .card-box .card-box-picture {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../images/3i_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid .rightbar .card-box-parent:nth-child(6) .card-box .card-box-picture {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../images/entrep_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid .rightbar .card-box-parent:nth-child(7) .card-box .card-box-picture {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../images/work_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container-fluid .rightbar .card-box-parent .card-box .card-box-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 2rem 2.3rem 2rem;
    background-color: #D9D9D9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-body .card-body-text {
    max-width: 550px;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-body .card-body-text p {
    font-size: 20px;
    text-transform: uppercase;
    /* font-weight: 600; */
    font-family: "Titan", sans-serif;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-body .card-body-enrolled a {
    text-decoration: none;
    background-color: #6B69BA;
    padding: 10px 35px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* .container-fluid .rightbar .card-box-parent .card-box .card-box-body .card-body-text span{
    max-width: 500px;
} */


/* .container-fluid .rightbar .card-box-parent:nth-child(2) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00C950;
    color: white;
    border-radius: 10px;
}

.container-fluid .rightbar .card-box-parent:nth-child(3) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8839FC;
    color: white;
    border-radius: 10px;
}

.container-fluid .rightbar .card-box-parent:nth-child(4) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DE316B;
    color: white;
    border-radius: 10px;
}

.container-fluid .rightbar .card-box-parent:nth-child(5) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5D7C81;
    color: white;
    border-radius: 10px;
}

.container-fluid .rightbar .card-box-parent:nth-child(6) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DE316B;
    color: white;
    border-radius: 10px;
}

.container-fluid .rightbar .card-box-parent:nth-child(7) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8839FC;
    color: white;
    border-radius: 10px;
}

.container-fluid .rightbar .card-box-parent:nth-child(8) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00C950;
    color: white;
    border-radius: 10px;
}

.container-fluid .rightbar .card-box-parent:nth-child(9) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5D7C81;
    color: white;
    border-radius: 10px;
} */

/* .container-fluid .rightbar .card-box-parent:nth-child(10) .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00C950;
    padding: 2rem 2.5rem 2rem 2rem;
    color: white;
    border-radius: 10px;
} */

/* .container-fluid .rightbar .card-box-parent .card-box .card-box-name {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-name .card-box-icon {
    padding: 1rem;
}

.container-fluid .rightbar .card-box-parent:nth-child(2) .card-box .card-box-name .card-box-icon {
    background-color: #58ef94;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent:nth-child(3) .card-box .card-box-name .card-box-icon {
    background-color: #b594e8;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent:nth-child(4) .card-box .card-box-name .card-box-icon {
    background-color: #e76e96;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent:nth-child(5) .card-box .card-box-name .card-box-icon {
    background-color: #6fb0ba;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent:nth-child(6) .card-box .card-box-name .card-box-icon {
    background-color: #e76e96;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent:nth-child(7) .card-box .card-box-name .card-box-icon {
    background-color: #b594e8;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent:nth-child(8) .card-box .card-box-name .card-box-icon {
    background-color: #58ef94;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent:nth-child(9) .card-box .card-box-name .card-box-icon {
    background-color: #6fb0ba;
    border-radius: 7px;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-name .card-box-icon .fa {
    font-size: 25px;
    color: white;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-name p {
    font-weight: bold;
    font-size: 20px;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-name span {
    font-size: 16px;
}

.container-fluid .rightbar .card-box-parent .card-box {
    margin-top: 1.5rem;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-link a {
    color: white;
    font-size: 18px;
}

.container-fluid .rightbar .card-box-parent .card-box .card-box-link a:hover .fa {
    transform: translateX(20%);
    transition: all 0.5s ease-in-out;
} */

@media only screen and (max-width: 560px) {
    .container-fluid .rightbar .card-box-parent .card-box {
        padding: 2.5rem 2rem 2.5rem 1.3rem;
    }

    .container-fluid .rightbar .card-box-parent .card-box .card-box-name p {
        font-size: 19px;
    }

    .container-fluid .rightbar .card-box-parent .card-box .card-box-name {
        width: 350px;
    }

    .container-fluid .rightbar .card-box-parent .card-box .card-box-name .card-box-icon {
        padding: 0.9rem;
    }

    /* .container-fluid .rightbar .card-box-parent .card-box .card-box-name .card-box-icon {
        display: none;
    } */

    /* .container-fluid .rightbar .card-box-parent .card-box .card-box-name .card-box-icon .fa {
        font-size: 25px;
    } */
}

@media only screen and (max-width: 475px) {
    .container-fluid .rightbar .card-box-parent .card-box .card-box-name .card-box-icon {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .container-fluid .rightbar .card-box-parent .card-box {
        padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    }

    .container-fluid .rightbar .card-box-parent .card-box .card-box-name p {
        font-size: 19px;
    }

    .container-fluid .rightbar .card-box-parent .card-box .card-box-name {
        width: 250px;
    }
}