@font-face {
    font-family: 'Titan';
    src: url('../Titan_One/TitanOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

* {
    font-family: 'Poppins', sans-serif;
}

.container-fluid nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    /* background-color: #ffffff; */
    /* background-color: #C0D2FF; */
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 4px 16px rgba(108, 63, 232, 0.10), 0 1px 4px rgba(0, 0, 0, 0.06); */
    position: fixed;
    top: 0;
    z-index: 100;
}

.container-fluid nav button {
    border: none;
    outline: none;
}

.container-fluid nav .nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

/* .container-fluid nav .nav-title .image-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid nav .nav-title .image-logo p{
    margin: 0;
    font-size: 18px;
} */

.container-fluid nav .nav-title .image-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-fluid nav .nav-title .image-logo img {
    width: 55px;
    height: 55px;
}

.container-fluid nav .nav-title .image-logo p {
    margin: 0;
}

.container-fluid nav .nav-title .image-logo .logo-text {
    position: absolute;
    bottom: -0.3rem;
    left: 2.2rem;
}

.container-fluid nav .nav-title .image-logo .logo-text p {
    font-size: 19.5px;
    font-family: "Titan", sans-serif;
    font-weight: normal;
}

.container-fluid nav .nav-title .image-logo .logo-text p b {
    font-weight: normal;
    color: #4f89a5;
    font-family: "Titan", sans-serif;
}

/* .container-fluid nav .nav-title .image-logo .logo-text p{
    position: absolute;
    bottom: 0;
    left: 0;
} */

/* .container-fluid nav .nav-title .image-logo img{
    width: 60px;
    height: 60px;
} */

/* .container-fluid nav .nav-title img{
    background-image: url('../');
} */

/* .container-fluid nav .nav-title .image-logo{
    width: 60px;
    height: 60px;
    background-image: url('../images/ilearn-logo4.png');
    background-position: center;
    background-size: cover;
} */


/* .container-fluid nav .nav-title img{
    width: 60px;
    height: 60px;
} */

.container-fluid nav .nav-title h3 {
    font-size: 20px;
    color: #484B4A;
}

.container-fluid nav .nav-title button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid nav .nav-title button .fa {
    font-size: 20px;
}

.container-fluid nav .nav-title .menu-bar {
    display: none;
}

.container-fluid nav .nav-list ul {
    display: flex;
    gap: 4.5rem;
    margin: 0;
    padding: 0;
}

.container-fluid nav .nav-list ul li {
    list-style: none;
    position: relative;
}

.container-fluid nav .nav-list ul li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    background-color: #212529;
    height: 3px;
}

.container-fluid nav .nav-list ul li:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.container-fluid nav .nav-list ul li a {
    text-decoration: none;
    color: #212529;
}


/* .container-fluid nav .nav-name {
    display: none;
}

.container-fluid nav .nav-name button {
    border: none;
    background: none;
}

.container-fluid nav .nav-name .dropdown .dropdown-parent button {
    width: 35px;
    height: 35px;
    background-color: #8839FC;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    
}

.container-fluid nav .nav-name .dropdown .dropdown-parent .dropdown-toggle {
    background: none;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-fluid nav .nav-name .dropdown .dropdown-menu{
    padding: 1rem 2rem 2rem 2rem;
}

.container-fluid nav .nav-name .dropdown .dropdown-menu a.dropdown-item{
    padding: 0;
}

.container-fluid nav .nav-name .dropdown .dropdown-menu li a{
    color: black;
}

.container-fluid nav .nav-acc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */

/* .container-fluid nav .nav-acc .dropdown a{
    display: flex;
} */

.container-fluid nav .nav-acc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-fluid nav .nav-acc .fa-plus,
.fa-grip {
    font-size: 20px;
}

.container-fluid nav .nav-acc button {
    border: none;
    background: none;
}

/* .container-fluid nav .nav-acc .dropdown .dropdown-parent button {
    width: 35px;
    height: 35px;
    background-color: #8839FC;
    color: white;
    border-radius: 50%;
    font-size: 20px;
} */

/* .container-fluid nav .nav-acc .dropdown .dropdown-profile button {
    width: 35px;
    height: 35px;
    background-color: #8839FC;
    color: white;
    border-radius: 50%;
    font-size: 20px;
} */

.container-fluid nav .nav-acc .dropdown .dropdown-profile button {
    width: 55px;
    height: 45px;
    background-color: #dfdfdf;
    color: black;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
}

.container-fluid nav .nav-acc .dropdown .dropdown-profile {
    padding: 0rem 0 0.3rem 0;
    /* width: 100%; */
}

.container-fluid nav .nav-acc .dropdown .dropdown-profile li span:nth-child(2) {
    font-size: 14px;
}

.container-fluid nav .nav-acc .dropdown .dropdown-menu {
    /* padding: 1rem 3rem 1rem 3rem; */
    /* width: 300px; */
    padding: 1.5rem;
}

.container-fluid nav .nav-acc .dropdown .dropdown-menu hr {
    margin: 9px 0 9px 0;
}

.container-fluid nav .nav-acc .dropdown .dropdown-menu a.dropdown-item {
    padding: 0 0 0 10px;
}

.container-fluid nav .nav-acc .dropdown .dropdown-menu li a {
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.8rem;
    font-size: 15.5px;
}

/* .container-fluid nav .nav-acc .dropdown .dropdown-menu li a:hover{
    background-color: #efefef;
} */

/* .container-fluid nav .nav-acc .dropdown .dropdown-menu li a .fa{
    background-color: #dfdfdf;
} */

.container-fluid nav .nav-acc .dropdown .dropdown-menu li {
    line-height: 50px;
    /* display: flex;
    align-items: center;
    gap: 15px; */
}

.container-fluid nav .nav-acc .dropdown .dropdown-menu li a .icon-parent {
    background-color: #dfdfdf;
    /* padding: 10px; */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid nav .nav-acc .dropdown .dropdown-menu li a button {
    all: unset;
}

.container-fluid nav .nav-acc .dropdown a {
    text-decoration: none;
}

.container-fluid nav .nav-acc .dropdown .dropdown-parent button {
    width: 35px;
    height: 35px;
    /* background-color: #8839FC; */
    background-color: #212529;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

.container-fluid .sidebar {
    width: 250px;
    height: calc(100% - 87px);
    margin-top: 87px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 4px 16px rgba(108, 63, 232, 0.10), 0 1px 4px rgba(0, 0, 0, 0.06); */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 1rem;
}

.container-fluid .sidebar .sidebar-menu ul {
    padding: 0px 0px 0px 0px;
}

.container-fluid .sidebar .sidebar-menu ul li {
    list-style: none;
    line-height: 60px;
    padding: 0 20px;
    border-radius: 10px;
}

.container-fluid .sidebar .sidebar-menu ul li:hover {
    background-color: #E7E8EB;
    /* background-color: #212529;
    color: #ffffff; */
}

.container-fluid .sidebar .sidebar-menu ul li a {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: #484B4A;
    font-size: 15.5px;
}

@media only screen and (max-width: 1030px) {
    .container-fluid .rightbar .card-parent-box .card-box {
        width: 100%;
    }

    .container-fluid .sidebar {
        width: 0;
        left: -100%;
        transition: all 0.5s ease-in-out;
    }

    .container-fluid .sidebar .sidebar-menu {
        display: none;
        overflow: hidden;
        opacity: 0;
    }

    /* .container-fluid .rightbar {
        width: calc(100% - 0px);
        height: calc(100% - 92px);
        margin-top: 92px;
        margin-left: 0px;
        transition: all 0.5s ease-in-out;
    } */

    .container-fluid nav .nav-title .menu-bar {
        display: flex;
    }

    /* 
    .container-fluid nav .nav-name {
        display: flex;
    }

    .container-fluid nav .nav-acc {
        display: none;
    } */

    .container-fluid nav {
        padding: 1.5rem;
    }
}

/* @media only screen and (max-width: 775px) {
    .container-fluid .sidebar {
        width: 0;
        left: -100%;
        transition: all 0.5s ease-in-out;
    }

    .container-fluid .sidebar .sidebar-menu {
        display: none;
        overflow: hidden;
        opacity: 0;
    }

    .container-fluid .rightbar {
        width: calc(100% - 0px);
        height: calc(100% - 83px);
        margin-top: 83px;
        margin-left: 0px;
        transition: all 0.5s ease-in-out;
    }

    .container-fluid nav .nav-title .menu-bar {
        display: block;
    }

    .container-fluid nav .nav-name {
        display: block;
    }

    .container-fluid nav .nav-acc {
        display: none;
    }

    .container-fluid nav {
        padding: 1.5rem;
    }
} */

@media only screen and (max-width: 580px) {
    .container-fluid nav .nav-title h3 {
        font-size: 17px;
    }

    /* .container-fluid nav .nav-acc {
        display: none;
    } */

    /* .container-fluid .rightbar {
        height: calc(100% - 92px);
        margin-top: 92px;
    } */

    /* .container-fluid nav .nav-name {
        display: flex;
        gap: 0.5rem;
    } */

    .container-fluid nav {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .container-fluid nav .nav-title button .fa {
        font-size: 17px;
    }

    .container-fluid .rightbar {
        padding: 1.5rem;
    }

    .container-fluid .rightbar h2 {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 470px) {
    #staticBackdrop {
        width: 320px;
    }
}

@media only screen and (max-width: 400px) {
    .container-fluid nav .nav-title h3 {
        display: none;
    }

    .container-fluid nav .nav-title button .fa {
        font-size: 20px;
    }

    .container-fluid nav .nav-title button .fa {
        font-size: 20px;
    }

    #staticBackdrop {
        width: 300px;
    }
}

/* 
@media only screen and (min-width: 580px) {
    .container-fluid .rightbar {
        height: calc(100% - 83px);
        margin-top: 83px;
    }
} */


/* @media only screen and (min-width: 1028px) {
    .container-fluid .sidebar {
        width: 250px;
        transition: all 0.5s ease-in-out;
    }

    .container-fluid .sidebar .sidebar-menu {
        display: block;
        overflow: visible;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }

    .container-fluid .rightbar {
        width: calc(100% - 250px);
        margin-left: 250px;
        transition: all 0.5s ease-in-out;
    }
} */