@font-face {
    font-family: 'Poppins';
    src: url('../Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

* {
    font-family: 'Poppins', sans-serif;
}

.container-fluid nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 999;
}

.container-fluid nav .nav-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container-fluid nav .nav-logo a {
    color: #212529;
    font-size: 19px;
}

.container-fluid nav h2 {
    font-size: 19px;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.container-fluid nav .nav-menu button{
    border: none;
    outline: none;
    background: none;
    font-size: 21px;
}

/* .container-fluid nav form button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #4F39F6;
    color: white;
    font-weight: 600;
    font-size: 14.5px;
} */

.container-fluid main {
    background-color: #f0f2f8;
    padding: 2rem 3rem 2rem 3rem;
}

.container-fluid nav {
    text-align: end;
}

.container-fluid h3 {
    font-size: 21px;
    font-weight: 600;
    margin: 0;
}

.container-fluid p {
    margin: 0;
}

.container-fluid .main-text {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.7rem;
    font-size: 14.5px;
    color: #808080;
}

.container-fluid main .card-box-parent {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.container-fluid main .card-box-parent .card-box {
    width: calc(100% / 3);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(108, 63, 232, 0.10), 0 1px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid main .card-box-parent .card-box .card-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    /* padding: 1.5rem 1.5rem 1.5rem 0rem; */
}

.container-fluid main .card-box-parent .card-box .card-text span {
    font-size: 15.5px;
    color: #808080;
    text-transform: uppercase;
}

.container-fluid main .card-box-parent .card-box .card-text p {
    margin: 0;
    /* margin-top: 0.3rem; */
    font-size: 25px;
    font-weight: 600;
}

.container-fluid main .card-box-parent .card-box .card-icon .fa {
    font-size: 33px;
}

.container-fluid main .progress-announce {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container-fluid main .progress-announce a {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    text-decoration: none;
}

.container-fluid main .progress-announce a .student-progress {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.container-fluid main .progress-announce a .student-progress .student-icon {
    background-color: #DBEAFE;
    color: #1447E6;
    padding: 1rem;
    border-radius: 10px;
}

.container-fluid main .progress-announce a .student-progress .student-icon .fa {
    font-size: 20px;
}

.container-fluid main .progress-announce .announcement-progress .announce-icon .fa {
    font-size: 20px;
}

.container-fluid main .progress-announce .student-progress .student-text p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.container-fluid main .progress-announce .student-progress .student-text span {
    color: #808080;
    font-size: 15.5px;
}

.container-fluid main .progress-announce button {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

.container-fluid main .progress-announce button .announcement {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.container-fluid main .progress-announce button .announcement .announce-icon {
    background-color: #FFEDD4;
    color: #F54900;
    padding: 1rem;
    border-radius: 10px;
}

.container-fluid main .progress-announce button .announcement .announce-text p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

.container-fluid main .progress-announce button .announcement .announce-text span {
    color: #808080;
    font-size: 15.5px;
}

/* .container-fluid main .parent-table{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
} */

.container-fluid main .parent-table .search-full-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.container-fluid main .parent-table .filter {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-fluid main .parent-table .filter span {
    font-size: 14.5px;
    margin: 0;
}

.container-fluid main .parent-table .search-form,
.container-fluid main .parent-table .search-level,
.container-fluid main .parent-table .search-section {
    width: 100%;
}

input.form-control,
select.form-select {
    font-size: 15px;
}

.container-fluid main .parent-table {
    margin-top: 2.5rem;
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.04);
}

.container-fluid main .parent-table table {
    margin-top: 2rem;
}

.container-fluid main .parent-table table thead tr th {
    font-size: 15px;
    text-align: center;
}

.container-fluid main .parent-table table tbody tr td {
    font-size: 15px;
    text-align: center;
    /* padding: 1rem; */
    /* padding: 0.8rem; */
    /* padding: 1rem; */
}

.container-fluid main .parent-table table tbody tr td:nth-child(3) {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    gap: 0.5rem;
    /* padding: 10px; */
}

.container-fluid main .parent-table table tbody tr td:nth-child(3) span {
    /* background-color: #F3E8FF;
    color: #8200DB; */

    /* background-color: #DBEAFE;
    color: #1447E6; */
    padding: 2px 4px;
    border-radius: 7px;
    font-size: 13.5px;
}

.container-fluid main .parent-table table tbody tr td:nth-child(3) span:nth-child(1) {
    background-color: #DBEAFE;
    color: #1447E6;
}

.container-fluid main .parent-table table tbody tr td:nth-child(3) span:nth-child(2) {
    background-color: #F3E8FF;
    color: #8200DB;
}

.container-fluid main .parent-table table tbody tr td:nth-child(5) {
    width: 20%;
}

.container-fluid main .parent-table table tbody tr td:nth-child(5) .parent-progress {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* width: 45%; */
}

.container-fluid main .parent-table table tbody tr td:nth-child(5) .parent-progress .progress-bar {
    width: 100%;
    background-color: #efefef;
    /* color: #1447E6; */
    position: relative;
    padding: 0.5rem;
    border-radius: 28px;
}

.container-fluid main .parent-table table tbody tr td:nth-child(5) .parent-progress .progress-bar .progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    background-color: #1447E6;
    padding: 0.5rem;
    border-radius: 28px;
}

.container-fluid main .parent-table table tbody tr td:nth-child(7) .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

.table tbody {
    display: block;
    height: 480px;
    overflow-y: auto;
}

.table thead,
.table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

