@font-face {
    font-family: 'Titan';
    src: url('../Titan_One/TitanOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

* {
    font-family: 'Poppins', sans-serif;
}

.container-fluid nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.04);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.container-fluid nav .nav-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container-fluid nav .nav-logo a {
    color: #212529;
    font-size: 19px;
}

.container-fluid nav h2 {
    font-size: 19px;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.container-fluid nav .nav-menu button {
    border: none;
    outline: none;
    background: none;
    font-size: 21px;
}

/* .container-fluid nav form button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #4F39F6;
    color: white;
    font-weight: 600;
    font-size: 14.5px;
} */

.container-fluid .sidebar {
    width: 225px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container-fluid .sidebar .sidebar-menu ul {
    padding: 0.3px 1rem 0px 1rem;
    /* margin-top: 1rem; */
}

.container-fluid .sidebar .sidebar-menu ul .sidebar-category h5 {
    margin: 10px 6px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
}

.container-fluid .sidebar .sidebar-menu ul li {
    list-style: none;
    line-height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    margin-top: 0.5rem;
}

.container-fluid .sidebar .sidebar-menu ul li:hover {
    background-color: #E7E8EB;
    border-radius: 10px;
}

.container-fluid .sidebar .sidebar-menu ul li a {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: var(--green-text);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.container-fluid .sidebar .sidebar-menu ul li a .fa {
    font-size: 18px;
}

.container-fluid .sidebar .sidebar-menu ul li.active {
    background-color: var(--green);
    color: #ffffff;
}

.container-fluid .sidebar .sidebar-menu ul li.active a {
    color: #ffffff;
}

.container-fluid .sidebar .sidebar-footer {
    /* padding: 1rem; */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* height: 300px; */
    /* height: 100%; */
    /* height: 200px; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    font-size: 15.5px;
    font-weight: 600;
    color: var(--green-text);
    /* padding: 0px 26px 0px 26px; */
    padding: 26px;
}


.container-fluid .sidebar .sidebar-footer .fa {
    font-size: 18px;
}

.container-fluid .sidebar .sidebar-footer p {
    margin: 0;
    /* font-size: 13.5px; */
}

body {
    overflow: hidden;
}

.container-fluid .rightbar {
    width: calc(100% - 235px);
    /* height: calc(100vh - 68px); */
    margin-top: 68px;
    /* overflow: hidden; */
    /* overflow-y: auto; */
    margin-left: 235px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #F7F9F8;
    position: relative;
}

.container-fluid .sidebar-logo {
    /* height: 130px; */
    height: 100px;
    /* background-color: #5BCA3F; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 1rem;
    /* margin-top: 1.8rem; */
    /* padding-bottom: 1rem; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 
.container-fluid .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
} */

.container-fluid .sidebar-logo p {
    /* font-size: 17px; */
    font-size: 22px;
    /* font-weight: bold; */
    margin: 0;
    font-family: "Titan", sans-serif;
    color: var(--green);
}

.container-fluid .sidebar-logo p b {
    color: #212529;
    font-family: "Titan", sans-serif;
}

.container-fluid .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.5rem;
}

.container-fluid .sidebar-logo .logo-icon {
    /* padding: 8px; */
    padding: 11px;
    background-color: var(--green-light);
    border-radius: 10px;
}

.container-fluid .sidebar-logo .logo-icon .fa-solid {
    color: var(--green);
    /* font-size: 18px; */
    font-size: 20px;
}

.container-fluid .sidebar .sidebar-menu {
    margin-top: 1rem;
}

.container-fluid main {
    background-color: #F7F9F8;
    /* position: relative; */
    margin-top: 68px;
    /* height: 100vh; */
    /* margin-top: 68px; */
}

.container-fluid main .name-student{
    width: 100%;
    /* height: calc(100% - 68px);
    margin-top: 68px; */
    padding: 1.5rem 2.5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container-fluid main .student{
    cursor: pointer;
}

.container-fluid main .name-student .student-sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-fluid main .name-student .student-sub-header .next-student{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-fluid main .name-student .student-sub-header .next-student p{
    margin: 0;
    /* background-color: var(--green); */
    /* background-color: #efefef; */
    /* color: #ffffff; */
    /* color: #1A1A1A; */
    color: var(--green);
    /* font-weight: 600; */
    padding: 7px 20px;
    border-radius: 7px;
    font-size: 15.5px;
    /* font-weight: 600; */
}

.container-fluid main .name-student .student-sub-header .next-student .change-buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container-fluid main .name-student .student-sub-header .next-student .change-buttons button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: #808080;
}

.container-fluid main .name-student .student-sub-header .student-header{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.container-fluid main .name-student .student-sub-header .student-header p{
    margin: 0;
    font-size: 15.5px;
    /* font-weight: 600; */
}

.container-fluid main .name-student .student-sub-header .student-header .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--green);
    color: #ffffff;
    font-weight: 600;
    font-size: 15.5px;
}

.container-fluid main .name-student .student-sub-header .student-header .icon p{
    margin: 0;
}

.container-fluid main .name-student .return{
    width: 80%;
    display: flex;
    justify-content: end;
}

.container-fluid main .name-student .return a{
    text-decoration: none;
    background-color: var(--green);
    color: #ffffff;
    padding: 7px 30px;
    /* font-weight: 600; */
    border-radius: 7px;
    font-size: 15.5px;
}

.container-fluid main .passed-grade{
    display: flex;
    /* height: calc(100vh - 85px); */
    height: calc(100vh - 85px);
}

.container-fluid main .passed-grade .passed-pdf{
    width: 100%;
    /* height: calc(100vh - 85px); */
    height: calc(100vh - 153px);
    /* margin-top: 85px; */
    overflow-y: auto;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.container-fluid main .passed-grade .passed-pdf .pdf{
    width: 100%;
    height: calc(100vh - 153px);
    /* height: 400px; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #efefef;
}

.container-fluid main .passed-grade .grade-pdf{
    width: calc(100% - 50%);
    height: calc(100vh - 153px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1rem;
    /* padding: 1.5rem; */
    /* height: calc(100vh - 85px); */
}

.container-fluid main .passed-grade .grade-pdf h5{
    /* font-size: 15px; */
    margin: 0;
    font-size: 17.5px;
    font-weight: 600;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.container-fluid main .passed-grade .grade-pdf p{
    /* margin-top: 0.5rem; */
    font-size: 14.5px;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.container-fluid main .passed-grade .grade-pdf .submit-pdf{
    /* margin-top: 0.5rem; */
    margin: 0 1.5rem 1.8rem 1.5rem;
    padding: 1rem 2rem;
    overflow-x: hidden;
    background-color: #efefef;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* padding: 1.5rem; */
}

.container-fluid main .passed-grade .grade-pdf .input-grade{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container-fluid main .passed-grade .grade-pdf .input-grade p{
    font-size: 15px;
    font-weight: 600;
    /* margin-top: 0.4rem; */
    margin: 0.4rem 0 16px;
    padding: 16px 24px 0;
}

.container-fluid main .passed-grade .grade-pdf .input-grade input{
    margin: 0 24px 28px;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 15px 10px;
    text-align: end;
    font-size: 15px;
    width: 100%;
    max-width: 285px;
    /* width: 100%; */
}

.container-fluid main .passed-grade .grade-pdf .input-grade input:focus-within{
    border: 1.5px solid var(--green);
}

.container-fluid main .passed-grade .grade-pdf .private-comments p{
    font-size: 15px;
    font-weight: 600;
    /* margin-top: 0.4rem; */
    margin: 0.4rem 0 16px;
    padding: 16px 24px 0;
}

.container-fluid main .passed-grade .grade-pdf .private-comments input{
    margin: 0 24px 20px;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 18px 13px;
    font-size: 15px;
    width: 100%;
    max-width: 285px;
    /* width: 100%;
    max-width: 100%; */
    /* width: 100%; */
    /* text-align: end; */
}

.container-fluid main .passed-grade .grade-pdf .private-comments .post{
    display: flex;
    justify-content: end;
}

.container-fluid main .passed-grade .grade-pdf .private-comments .post button{
    margin: 0 15px 28px;
    padding: 7px 30px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    /* background-color: var(--green);
    color: #ffffff; */
    background-color: #efefef;
    color: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.container-fluid main .passed-grade .grade-pdf .private-comments .post button:hover{
    background-color: var(--green);
    color: #ffffff;
}